repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language_version: python3.7
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
      - id: pylint
        name: pylint
        entry: pylint  --rcfile=".pylintrc"
        language: system
        types: [python]
