# local package
-e .

# external requirements
black==19.10b0
dvc==0.94.0
ekphrasis==0.5.1
matplotlib==3.2.1
mypy==0.770
notebook==6.1.5
numpy==1.18.4
pandas==1.0.3
pre-commit==2.3.0
flake8==3.7.9
pylint==2.5.2
spacy==2.2.4
cloudpickle==1.4.1
scikit-learn==0.22.2
pytest==5.4.2
