# local package
-e .

# external requirements
awscli
boto3==1.9.250
click
coverage
black==19.3b0
flake8==3.7.8
mypy==0.701.0
pandas==0.24.2
pre-commit==1.18.3
pylint==2.4.2
pytest==5.2.1
python-dotenv>=0.5.1
Sphinx

